*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html ,body {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
body{
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
#container{
    height: 400px;
    width: 300px;
    background-color: red;
    position: relative;
    overflow: hidden;
    transition: transform ease 0.5s;
}
#container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#container i{
  color: white;
  font-size:70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%) scale(0);
  opacity: 0.8;
}