*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;  
}
#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}
.elem{
    height: 130px;
    width: 100%;
 color: white;
    border: 2px solid white;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

}
.elem h1{
    font-size: 3vw;
    font-weight: 800;
    position: relative;
    z-index: 1;
    mix-blend-mode:difference;
}
.elem img{
    height:125px;
    width: 125px;
 object-fit: cover;
 object-position: center;
 border-radius: 50%;
 position: absolute;
 /* transform: translate(-50%,-50%); */
 opacity: 0;
 transition: all linear 0.3s;

}